asgiref==3.6.0
cfgv==3.3.1
distlib==0.3.6
Django==4.1.7
django-filter==23.1
djangorestframework==3.14.0
filelock==3.10.7
identify==2.5.22
nodeenv==1.7.0
platformdirs==3.2.0
pre-commit==3.2.1
pytz==2023.2
PyYAML==6.0
sqlparse==0.4.3
tzdata==2023.2
virtualenv==20.21.0
